h2 = "Hola #{@user.email}, lamentablemente rechazaron tu oferta de un #{@listing.title}"
p = "El comprador te dejo el siguiente mensaje: #{@feedback}"
h3 Entrá a LibreMercado.com y buscá otros compradores!
h3 Mucha suerte!
h4 El Equipo de LibreMercado
