/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require selectize
 *= require selectize.bootstrap3
 *= require framework_and_overrides
 *= require index
 *= require listings
 *= require offers
 *= require scaffolds
 *= require_self
 *= require overrides


 */


 @import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cosmo/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/cosmo/bootswatch";


@import 'colors';

a:hover
{
  text-decoration:none;
}

h1  {
  color: $blue;
  font-weight: 400;
}

.selectize-dropdown, .selectize-input {
  border-radius: 0;
}

.navbar-form {
  .selectize-dropdown, .selectize-input {
    height: 43px;
    border: 1px solid #246BB8;
    line-height: 33px;
    min-width: 200px;
    margin-bottom: -4px;

  }
}

h3 {
  color: $black;
  font-size: 22px;
  margin-top: 5px;
}

.label-offers {
  font-size: 14px;
}

.links {
  margin-top: 10px;
}

.section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 20px;
  // color: $black;
}

.form-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $black;
  margin-top: 10px;
}

.button-general {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  background-color: $blue;
  border-radius: 0;
  transition: all 0.5s ease;
  &:hover, &:focus {
    background-color: $light-blue;
    color: $chalk;
  }
}


.form-input {
  padding-left: 15px;
}

.form-input-tag {
  .selectize-dropdown, .selectize-input {
    height: 50px;
    line-height: 40px;
  }
  padding: 0;
}

.container {
  max-width: 1280px;
}

.libre-form {
  background-color: $dark-chalk;
  padding-bottom: 50px;
  margin-top: 65px;

  .input-label {
    margin-top: 10px;
  }
  .submit-button {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 50px;
    padding: 0 50px;
    line-height: 50px;
  }
}

.navbar-inverse {
  background-color: $white;
}

.menu-logo{
  height: 50px;
  margin-top: -15px;
}

#bs-example-navbar-collapse-2 {
  a {
    color: $gray;
    &:hover {
      color :$white;
    }
  }
}

h1.main-title {
  color: #1e69bb;
  font-weight: bold;
  font-size: 55px;
}

.title-blue {
  color: #1e69bb;
}

.tumb {
  h4 { color: #222222 }
  padding: 0 30px;
  .border-bottom{
    margin: 10px 0;
    height: 1px;
    background-color: #1e69bb;
    width: 100%;
  }
}

.btn-warning, .label-warning{
  background-color: #F05C44;
}

#bs-example-navbar-collapse-2 > ul:nth-child(1) > li > a {
    background-color: #F05C44;
    border: 1px solid #F05C44;
    color: white;
}

.show-prudct {
  margin: 25px 0;
}

.nested-comment {
  padding-left: 25px;
}

.alert-warning.comment {
  background-color: #D7D7D7;

}


.media-body {
  color: black;
}

.offer-description {
  font-size: 25px;
}
