/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require selectize
 *= require selectize.bootstrap3
 *= require framework_and_overrides
 *= require index
 *= require listings
 *= require offers
 *= require scaffolds
 *= require_self
 *= require overrides


 */


@import "bootstrap-sprockets";

// Import cerulean variables
@import "bootswatch/cosmo/variables";

// Then bootstrap itself
@import "bootstrap";

// Bootstrap body padding for fixed navbar
body { padding-top: 60px; }

// And finally bootswatch style itself
@import "bootswatch/cosmo/bootswatch";


@import 'colors';

a:hover
{
  text-decoration:none;
}

h1  {
  color: $blue;
  font-weight: 400;
}

.selectize-dropdown, .selectize-input {
  border-radius: 0;
}

.navbar-form {
  .selectize-dropdown, .selectize-input {
    height: 43px;
    border: 0;
    line-height: 33px;
    min-width: 200px;
    margin-bottom: -4px;
  }
}

h3 {
  color: $black;
  font-size: 22px;
  margin-top: 5px;
}

.label-offers {
  font-size: 14px;
}

.links {
  margin-top: 10px;
}

.section-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  padding-top: 50px;
  padding-bottom: 20px;
  // color: $black;
}

.form-label {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $black;
  margin-top: 10px;
}

.button-general {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $white;
  background-color: $blue;
  border-radius: 0;
  transition: all 0.5s ease;
  &:hover, &:focus {
    color: $blue;
  }
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 75px;
  height: 50px;
  padding: 0 50px;
}

