@import "colors";

main {
  margin-top: 0;
  padding-bottom: 0;
  background: none;
}


.banner-img {
  background-color: gray;
  height: 190px;
  width: 80%;
  margin: 0 10%;
}

.banner {
  padding: 20px;
  background-color: $chalk;
}

.panel-for-img {
  width: 150px;
  height: 170px;
  border: 1px solid $dark-chalk;
  background-color: $chalk;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.img-panel {
  height: 150px;
  width: 100%;
}

