== render 'form', title: "Editar Producto", action: "Guardar cambios"

br
= link_to 'Volver', products_path,  {class: 'btn btn-default', method: 'delete' }
- if @product.user == current_user
  = link_to 'Eliminar', product_path(@product), { class: 'btn btn-default pull-right', method: 'delete' }

